.colorfff {
  color: #fff
}

.antdrow {
  height: 46px;
  line-height: 46px;
}

/* antd */
.ant-layout-header {
  height: auto;
  line-height: normal;
  padding: 0 200px;
}

.ant-menu {
  background: none;
  color: #fff;
}
